.auth-content {
    text-align: center;
}

.auth-card {
    background-color: #ffffff;
    /* box-shadow: 3px 3px 8px #888888; */
    border-radius: 4px;
    width: 400px;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
}
.auth-logo {
    width: 118px;
    margin-bottom: -10px;
}
.auth-form {
    margin-top: 35px;
}
.auth-input-field {
    font-size: 18px;
    margin-bottom: 25px;
}
