.photo {
  height: 14rem;
  margin-bottom: 3rem;
}

.Banner {
    box-sizing: border-box;
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2em;
    background-color: #2F363D;
    color: #ccc;
  }