/* Dashboard General */
.dashboardHeader {
    margin-bottom: 50px;
}

.container {
    display: flex;
}

.sidebar {
    position: sticky;
    height: 100vh;
    display: flex;
    flex: 1;
}

.dashboard {
    flex: 4;
    margin: 50px;
    text-align: left;
}

/* Dashboard - Main Page */
.metrics {
    margin: 50px auto;
}

/* Donation Page */
.buttonRow {
    margin-top: 50px;
}

/*  */
.photo {
    height: 14rem;
    margin-bottom: 3rem;
}





/******************* UPDATED VERSION BELOW
/* Dashboard General */
/*
.dashboardHeader {
    margin: 25px 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebarContainer {
    max-width: 200px;
    flex: 1;
}

.nav {
    left: 0;
    top: 0;
    max-width: 200px;
    position: fixed;
    height: 100%;
}

/* Dashboard - Main Page */
/*
.dashboardContainer {
    flex: 4;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboardContent {
    margin: 25px;
}

.publish-controls {
    max-width: 750px;
    margin: 25px auto;
}

/* Donation Page */
/*
.buttonRow {
    margin-top: 50px;
}

/*
.photo {
    height: 14rem;
    margin-bottom: 3rem;
}
*/

