/* Dashboard General */

.dashboardHeader {
    margin: 25px 50px;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebarContainer {
    max-width: 250px;
    flex: 1;
}

.nav {
    left: 0;
    top: 0;
    max-width: 200px;
    position: fixed;
    height: 100%;
}

.ui.menu {
    border-radius: 0;
}

/* Dashboard - Main Page */

.dashboardContainer {
    flex: 4;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboardContent {
    margin: 25px;
}

/* Donation Page */

.buttonRow {
    margin-top: 50px;
}

.photo {
    width: 250px;
}

/* Banner Menu */
.ui.menu.layoutBanner {
    margin-bottom: 50px;
    background-color: #2f363d;
}

.bannerLogo {
    height: 100px;
    width: 100px;
}

.HomePage {
    height: 100%;
}

.layoutContent {
    height: 100%;
}
