.container {
    display: flex;
}

.sidebar {
    position: sticky;
    height: 100vh;
    display: flex;
    flex: 1;
}

.dashboard {
    flex: 4;
    margin: 50px;
}

.photo {
    height: 14rem;
    margin-bottom: 3rem;
}
