/* Loading component */
/* .dashboardLoader {
    height: 100%;
    margin: 50px auto;
} */

/* Dashboard General */

.dashboardHeader {
    margin: 25px 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebarContainer {
    max-width: 250px;
    flex: 1;
}

.nav {
    left: 0;
    top: 0;
    max-width: 200px;
    position: fixed;
    height: 100%;
    border-radius: 0;
}

/* Dashboard - Main Page */

.dashboardContainer {
    flex: 4;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboardContent {
    margin: 25px;
}

/* Donation Page */

.buttonRow {
    margin-top: 50px;
}


.photo {
    height: 14rem;
    margin-bottom: 3rem;
}


