
html, body {
  width: 100%;
  height: 100vh;
}

body {
  text-align: center;
  font-family: 'Arial', sans-serif;
}


/***** UPDATED CSS

/*
html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  height: 100vh;
}
*/